.travel-info {
  margin-top: 60px;
  padding: 6px 0;
  background-color: #f8f4f4;
  .route {
    .home-link {
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 500;
    }
    .chev-right {
      margin: 2px 0;
    }
  }
}
